<app-loading-spinner *ngIf="isLoading" />

<div *ngIf="isError" class="alert alert-danger text-center my-4" role="alert">
  Hi there! It looks like you're having trouble connecting 🌍. Can you please
  check your internet connection and try again?
</div>

<!-- Add new product model -->
<ng-template #addProductForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center">Add Product</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAddProduct()">
      <div class="mb-1">
        <label for="title" class="form-label">Product Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          [(ngModel)]="productData.title"
        />
      </div>

      <div class="mb-1">
        <label for="price" class="form-label">Product Price</label>
        <input
          type="text"
          class="form-control"
          name="price"
          id="price"
          [(ngModel)]="productData.price"
        />
      </div>
      <div class="mb-1">
        <label for="category" class="form-label">Category</label>
        <select
          class="form-select form-select-lg"
          name="category"
          id="category"
          [(ngModel)]="productData.category"
        >
          <option selected disabled value="">Select a category</option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category | titlecase }}
          </option>
        </select>
      </div>

      <div class="mb-1">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          rows="3"
          [(ngModel)]="productData.description"
        ></textarea>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Add Product</button>
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete product confirmation model -->
<ng-template #deleteProductConfirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      Delete Product Confirmation
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <h5 class="h5">Are Sure to Delete this product??</h5>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger text-white" (click)="c('yes')">
      Delete Product
    </button>
    <button type="button" class="btn btn-light" (click)="d('Close click')">
      Close
    </button>
  </div>
</ng-template>

<lib-toastify-toast-container></lib-toastify-toast-container>

<section *ngIf="!isLoading && productsPaginated">
  <h2 class="display-2 text-center my-4">Admin Dashbaord</h2>

  <div class="container mb-4">
    <!-- Button to open add new product model -->
    <button
      class="btn btn-primary btn-lg mb-3"
      (click)="openAddProductModel(addProductForm)"
    >
      Add Product
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Rate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsPaginated; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="d-flex align-items-center gap-2">
            <img
              class="img-thumbnail"
              style="width: 15%"
              [src]="product.image"
              [alt]="product.title"
            />
            {{ product.title }}
          </td>
          <td>{{ product.category | titlecase }}</td>
          <td>{{ product.price | currency }}</td>
          <td>
            <star-rating
              labelPosition="right"
              [readOnly]="true"
              [starType]="'svg'"
              [rating]="product.rating.rate"
            />
          </td>
          <td>
            <div class="d-flex align-items-center gap-3 h-100">
              <button class="btn btn-outline-primary">
                <i class="bi bi-pencil fs-6"></i>
              </button>
              <button
                (click)="
                  openConifirmationDeleteModel(
                    deleteProductConfirmation,
                    product.id
                  )
                "
                class="btn btn-outline-danger"
              >
                <i class="bi bi-trash fs-6"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="totalProducts"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshProducts()"
      >
      </ngb-pagination>

      <select
        class="form-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="refreshProducts()"
      >
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="15">15 items per page</option>
      </select>
    </div>
  </div>
</section>
