<app-loading-spinner *ngIf="isLoading" />

<div *ngIf="isError" class="alert alert-danger text-center my-4" role="alert">
  {{ "FAIL_CONNECTION_MESSAGE" | translate }}
</div>

<!-- Add new product model -->
<ng-template #addProductForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center">{{ "ADD_PRODUCT" | translate }}</h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAddProduct()">
      <div class="mb-1">
        <label for="title" class="form-label">
          {{ "PRODUCT_TITLE" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          [(ngModel)]="productData.title"
        />
      </div>

      <div class="mb-1">
        <label for="price" class="form-label">
          {{ "PRODUCT_PRICE" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          name="price"
          id="price"
          [(ngModel)]="productData.price"
        />
      </div>
      <div class="mb-1">
        <label for="category" class="form-label">
          {{ "PRODUCT_CATEGORY" | translate }}
        </label>
        <select
          class="form-select form-select-lg"
          name="category"
          id="category"
          [(ngModel)]="productData.category"
        >
          <option selected disabled value="">
            {{ "SELECT_CATEGORY" | translate }}
          </option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category | titlecase }}
          </option>
        </select>
      </div>

      <div class="mb-1">
        <label for="description" class="form-label">
          {{ "PRODUCT_DESCRIPTION" | translate }}
        </label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          rows="3"
          [(ngModel)]="productData.description"
        ></textarea>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
          {{ "ADD_PRODUCT" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          {{ "CLOSE" | translate }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Update product model -->
<ng-template #updateProductForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      {{ "UPDATE_PRODUCT" | translate }}
    </h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-1">
        <label for="title" class="form-label">
          {{ "PRODUCT_TITLE" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          [(ngModel)]="productData.title"
        />
      </div>

      <div class="mb-1">
        <label for="price" class="form-label">
          {{ "PRODUCT_PRICE" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          name="price"
          id="price"
          [(ngModel)]="productData.price"
        />
      </div>
      <div class="mb-1">
        <label for="category" class="form-label">
          {{ "PRODUCT_CATEGORY" | translate }}
        </label>
        <select
          class="form-select form-select-lg"
          name="category"
          id="category"
          [(ngModel)]="productData.category"
        >
          <option selected disabled value="">
            {{ "SELECT_CATEGORY" | translate }}
          </option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category | titlecase }}
          </option>
        </select>
      </div>

      <div class="mb-1">
        <label for="description" class="form-label">
          {{ "PRODUCT_DESCRIPTION" | translate }}
        </label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          rows="3"
          [(ngModel)]="productData.description"
        ></textarea>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" (click)="c('yes')">
          {{ "UPDATE_PRODUCT" | translate }}
        </button>
        <button type="button" class="btn btn-light" (click)="d('Close click')">
          {{ "CLOSE" | translate }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete product confirmation model -->
<ng-template #deleteProductConfirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      {{ "DELETE_PRODUCT_CONFIRMATION" | translate }}
    </h4>
  </div>
  <div class="modal-body">
    {{ "DELETE_PRODUCT_MESSAGE" | translate }}
    <h5 class="h5"></h5>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger text-white" (click)="c('yes')">
      {{ "DELETE_PRODUCT" | translate }}
    </button>
    <button type="button" class="btn btn-light" (click)="d('Close click')">
      {{ "CLOSE" | translate }}
    </button>
  </div>
</ng-template>

<!-- toastify container for displaying success/error messages -->
<lib-toastify-toast-container></lib-toastify-toast-container>

<section *ngIf="!isLoading && productsPaginated">
  <h2 class="display-2 text-center my-4">
    {{ "PRODUCTS_PAGE_TITLE" | translate }}
  </h2>

  <div class="container mb-4">
    <!-- Button to open add new product model -->
    <button
      class="btn btn-primary btn-lg mb-3"
      (click)="openAddProductModel(addProductForm)"
    >
      {{ "ADD_PRODUCT" | translate }}
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            {{ "PRODUCT_TITLE" | translate }}
          </th>
          <th scope="col">
            {{ "PRODUCT_CATEGORY" | translate }}
          </th>
          <th scope="col">
            {{ "PRODUCT_PRICE" | translate }}
          </th>
          <th scope="col">
            {{ "PRODUCT_RATE" | translate }}
          </th>
          <th>
            {{ "PRODUCT_ACTIONS" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- table row -->
        <tr *ngFor="let product of productsPaginated; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="d-flex align-items-center gap-2">
            <img
              class="img-thumbnail"
              style="width: 15%"
              [src]="product.image"
              [alt]="product.title"
            />
            {{ product.title }}
          </td>
          <td>{{ product.category | titlecase }}</td>
          <td>{{ product.price | currency }}</td>
          <td>
            <star-rating
              labelPosition="right"
              [readOnly]="true"
              [starType]="'svg'"
              [rating]="product.rating.rate"
            />
          </td>
          <td>
            <div class="d-flex align-items-center gap-3 h-100">
              <button
                (click)="openEditProductModel(updateProductForm, product.id)"
                class="btn btn-outline-primary"
              >
                <i class="bi bi-pencil fs-6"></i>
              </button>
              <button
                (click)="
                  openConifirmationDeleteModel(
                    deleteProductConfirmation,
                    product.id
                  )
                "
                class="btn btn-outline-danger"
              >
                <i class="bi bi-trash fs-6"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- table pagination -->
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="totalProducts"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshProducts()"
      >
      </ngb-pagination>

      <select
        class="form-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="refreshProducts()"
      >
        <option [ngValue]="5">5 {{ "PRODUCTS_PER_PAGE" | translate }}</option>
        <option [ngValue]="10">10 {{ "PRODUCTS_PER_PAGE" | translate }}</option>
        <option [ngValue]="15">15 {{ "PRODUCTS_PER_PAGE" | translate }}</option>
      </select>
    </div>
  </div>
</section>
